body {
    background-color: black;
    color: white;
    font-family: 'Poppins', serif;
}

.hello_worldle {
    padding: 0.5rem;
}

.hello_worldle__grid {
    justify-content: center;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 55px);
}

.hello_worldle__grid__item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    border: 1px solid white;
}

.hello_worldle__info {
    font-size: 1rem;
    text-align: center;
    position: absolute;
    display: none;
    top: 30vh;
    left: 30vw;
    background-color: darkgray;
    color: black;
    padding: 1rem;
}

.hello_worldle__keypad {
    justify-content: center;
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(20, 15px);
    grid-template-rows: repeat(3, 70px);
    gap: 5px;
    font-weight: bolder;
}

.hello_worldle__keypad__key {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightslategray;
    cursor: pointer;
    font-size: 1.3rem;
}

.shake-animation {
    animation: horizontal-shake 1s;
}

/* @media (min-width: 1000px) {
    .hello_worldle__keypad {
        grid-template-columns: repeat(20, 43px);
        grid-template-rows: repeat(3, 60px);
    }

    .hello_worldle__keypad__key {
        font-size: 1rem;
    }

    .hello_worldle__grid {
        grid-template-columns: repeat(5, 70px);
        grid-template-rows: repeat(6, 70px);
    }
} */

@keyframes horizontal-shake {
    0% {
        transform: translateX(0)
    }

    25% {
        transform: translateX(5px)
    }

    50% {
        transform: translateX(-5px)
    }

    75% {
        transform: translateX(5px)
    }

    100% {
        transform: translateX(0)
    }
}